/* ELEMENTS */

.background {
    top: 0;
    left: 50%;
    width: 100%;
    z-index: -1;
    height: 100lvh;
    position: fixed;
    max-width: 50rem;
    transform: translateX(-50%);
}

.background__image {
    object-fit: cover;
}